# Environnement et secrets
.env
.env.local
*.env

# Python / Django
__pycache__/
*.pyc
*.pyo
gtel_env/
venv/
env/
db.sqlite3
Base_GTEL.sql
media/
staticfiles/
*.log

# Migrations 
# */migrations/*.py
# !*/migrations/__init__.py



# Éditeurs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Distribution / build
dist/
build/
*.egg-info/
